/* Harant font */
  @import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500&display=swap');

  /* Manrope font*/
  @import url('https://fonts.googleapis.com/css2?family=Halant:wght@300;400;500;600;700&family=Manrope:wght@500&family=Nunito:wght@300;400;500;600;700&family=Space+Grotesk:wght@400;500&display=swap');


  body{
    margin:0;
    padding:0;
    box-sizing: border-box;

    width: 100vw;
    height: 100vh;
  }

  .container{
display: block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  h1{
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    font-family: 'Halant', serif;

  }

   table {
    border-collapse: collapse;
    text-align: left;
    width: 100%;
    max-width: 100%;
    height: auto;
    border: 1px solid #000;
  }

  
  th{
    width: auto;
    border: 1px solid #000;
    font-size: 1.3rem;
    padding: 6px 60px 6px 10px;

    font-family: 'Halant', serif;


  }

  td {
    width: auto;
    padding: 6px 0px 6px 10px;
    font-size: 1.1rem;
    border: 1px solid #000;
    font-weight: 500;
    font-family: 'Manrope', sans-serif;
    

  }

 
